:root { --add-to-wishlist-icon-color: #000000; --added-to-wishlist-icon-color: #000000; --rounded-corners-radius: 16px; --add-to-cart-rounded-corners-radius: 16px; --color-headers-background: #F4F4F4; --feedback-duration: 3s } 
/*# sourceURL=yith-wcwl-main-inline-css */
